.header {
  background-color: var(--white);

  width: 100%;

  padding: 1rem 0;

  .headerContainer {
    display: flex;
    align-items: center;

    width: min(90%, 1120rem);
    margin: auto;

    .links {
      display: flex;
      align-items: center;
      gap: 4rem;

      .arrowBackButton {
        border: 3px solid var(--gray-800);
        border-radius: 0.5rem;

        padding: 0.3rem 0.4rem;

        transition: filter 0.3s;

        &:hover {
          filter: brightness(0.5);
        }
      }
    }

    p {
      margin: auto;

      color: var(--gray-700);
      font-size: 1.125rem;

      width: 25vw;
    }
  }
}

.banner {
  width: 100%;
  height: 100%;
}

.container {
  width: min(90%, 1120rem);
  margin: 5rem auto;

  display: flex;
  align-items: center;
  gap: 2rem;

  .aboutCityText {
    width: 100%;

    h1 {
      font-size: 3rem;
    }

    p {
      margin-top: 1rem;
      font-size: 1.125rem;
      font-family: "Heebo", sans-serif;
    }
  }

  .aboutCityCard {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    gap: 2rem;

    .card {
      height: 15rem;
      width: 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      border: 2px solid var(--gray-800);
      border-radius: 1rem;

      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

      p {
        border-top: 2px solid var(--gray-800);
        padding-top: 2rem;

        font-size: 3rem;
        color: var(--red);
      }

      span {
        font-size: 1.125rem;
      }
    }
  }
}
